:host{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #343434

}

.postit-modal{
  position: relative;
  width: 70vw;
  height: 70vh;
  padding: 1rem;

  &--close{
    position: relative;
    left: 90%;

    font-size: 2rem;
  }

  &--title{

    font-size: 1.5rem;
    margin-bottom: 2rem;

    border: none;
    background-color: transparent;
    outline: none;

  }

  &--annotation{
    font-size: .9rem;
    margin-bottom: 2rem;

    border: none;
    background-color: transparent;
    outline: none;

    min-height: 40vh;
    min-width: 60vw;
    resize: none;

  }
  footer{
    display:flex;
    justify-content: center;

    span{
      font-style: italic;
      font-weight: bold;
      color: #707070
    }
  }

}
