<div class="home">
  <header>
    <img src="assets/imgs/login_logo.svg" alt="logo">
  </header>
  <main>
    <ng-container *ngFor="let post of postItArray">
    <app-postit (postitSelected)="printPostit($event)"
    [postit]="post"
    (click)="openPostModal(post)"
    ></app-postit>
  </ng-container>
  </main>

  <div class="home--new=postit">
    <div _ngcontent-hjr-c144 class="home--new-postit--item" (click)="openNewPostModal(postitColorEnum.ORANGE)"></div>
    <div _ngcontent-hjr-c144 class="home--new-postit--item" (click)="openNewPostModal(postitColorEnum.BLUE)"></div>
    <div _ngcontent-hjr-c144 class="home--new-postit--item" (click)="openNewPostModal(postitColorEnum.RED)"></div>
    <div _ngcontent-hjr-c144 class="home--new-postit--item" (click)="openNewPostModal(postitColorEnum.ORANGE)"></div>
    <div _ngcontent-hjr-c144 class="home--new-postit--item" (click)="openNewPostModal(postitColorEnum.YELLOW)"></div>
    <div _ngcontent-hjr-c144 class="home--new-postit--item" (click)="openNewPostModal(postitColorEnum.GREEN)"></div>

  </div>

</div>
